[submodule "rustlings"]
	path = rustlings
	url = git@github.com:yjymosheng/rustlings.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:yjymosheng/learning-cxx.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:yjymosheng/TinyInfiniTensor.git
